/*******************************************************************************
 * Tree container
 */
div.ui-dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt;
	white-space: nowrap;
	padding: 3px;
	background-color: white;
	border: 1px dotted gray;
}

/* Style, when control is disabled */
.ui-dynatree-disabled div.ui-dynatree-container
{
	opacity: 0.5;
	background-color: silver;
}


/******************************************************************************* 
 * Vertical line image
 */
div.ui-dynatree-container img
{
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
	border-style: none;
}

/******************************************************************************* 
 * Common icon definitions
 */
span.ui-dynatree-empty,
span.ui-dynatree-vline,
span.ui-dynatree-connector,
span.ui-dynatree-expander,
/*span.ui-dynatree-icon,*/
span.ui-dynatree-checkbox
{
	width: 16px;
	height: 16px;
	display: -moz-inline-box; /* @ FF 1+2 */
	display: inline-block; /* Required to make a span sizeable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
}

/******************************************************************************* 
 * Lines and connectors
 */
span.ui-dynatree-empty
{
}
span.ui-dynatree-vline
{
	background-image: url("../image/ltL_ns.gif");
}
span.ui-dynatree-connector
{
	background-image: url("../image/ltL_nes.gif");
}
.ui-dynatree-lastsib span.ui-dynatree-connector
{
	background-image: url("../image/ltL_ne.gif");
}

/******************************************************************************* 
 * Expander icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: ui-dynatree-exp-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling       
 */
 
span.ui-dynatree-expander
{
	background-image: url("../image/ltP_nes.gif");
	cursor: pointer;
}
.ui-dynatree-exp-cl span.ui-dynatree-expander /* Collapsed, not delayed, last sibling */
{
	background-image: url("../image/ltP_ne.gif");
}
.ui-dynatree-exp-cd span.ui-dynatree-expander /* Collapsed, delayed, not last sibling */
{
	background-image: url("../image/ltD_nes.gif");
}
.ui-dynatree-exp-cdl span.ui-dynatree-expander /* Collapsed, delayed, last sibling */
{
	background-image: url("../image/ltD_ne.gif");
}
.ui-dynatree-exp-e span.ui-dynatree-expander,  /* Expanded, not delayed, not last sibling */
.ui-dynatree-exp-ed span.ui-dynatree-expander  /* Expanded, delayed, not last sibling */
{
	background-image: url("../image/ltM_nes.gif");
}
.ui-dynatree-exp-el span.ui-dynatree-expander,  /* Expanded, not delayed, last sibling */
.ui-dynatree-exp-edl span.ui-dynatree-expander  /* Expanded, delayed, last sibling */
{
	background-image: url("../image/ltM_ne.gif");
}


/******************************************************************************* 
 * Checkbox icon
 */
span.ui-dynatree-checkbox
{
	margin-left: 3px;
	background-image: url("../image/cbUnchecked.gif");
}
span.ui-dynatree-checkbox:hover
{
	background-image: url("../image/cbUnchecked_hover.gif");
}

.ui-dynatree-partsel span.ui-dynatree-checkbox
{
	background-image: url("../image/cbIntermediate.gif");
}
.ui-dynatree-partsel span.ui-dynatree-checkbox:hover
{
	background-image: url("../image/cbIntermediate_hover.gif");
}

.ui-dynatree-selected span.ui-dynatree-checkbox
{
	background-image: url("../image/cbChecked.gif");
}
.ui-dynatree-selected span.ui-dynatree-checkbox:hover
{
	background-image: url("../image/cbChecked_hover.gif");
}

/*******************************************************************************
 * Radio icon
 */
.radio span.ui-dynatree-checkbox
{
	margin-left: 3px;
	background-image: url("rbUnchecked.gif");
}
.radio span.ui-dynatree-checkbox:hover .radio
{
	background-image: url(rbUnchecked_hover.gif");
}

.radio .ui-dynatree-partsel span.ui-dynatree-checkbox
{
	background-image: url("rbIntermediate.gif");
}
.radio .ui-dynatree-partsel span.ui-dynatree-checkbox:hover
{
	background-image: url("rbIntermediate_hover.gif");
}

.radio .ui-dynatree-selected span.ui-dynatree-checkbox
{
	background-image: url("rbChecked.gif");
}
.radio .ui-dynatree-selected span.ui-dynatree-checkbox:hover
{
	background-image: url("rbChecked_hover.gif");
}

/******************************************************************************* 
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: ui-dynatree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 */

/* Status node icons */
.ui-dynatree-statusnode-wait span.ui-dynatree-icon
{
	background-image: url("../image/ltWait.gif");
}

.ui-dynatree-statusnode-error span.ui-dynatree-icon
{
	background-image: url("../image/ltError.gif");
}

/******************************************************************************* 
 * Node titles
 */

/* Remove blue color and underline from title links */
div.ui-dynatree-container a
{
	color: black;
	text-decoration: none;
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
}

/*div.ui-dynatree-container a:hover
{
	text-decoration: underline;
}*/

span.ui-dynatree-document a,
span.ui-dynatree-folder a
{
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
}
/*span.ui-dynatree-folder a
{
	font-weight: bold;
}*/

/*div.ui-dynatree-container a:focus,
span.ui-dynatree-focused a:link
{
	background-color: #EFEBDE;
}
*/

span.ui-dynatree-expanded a
{
}

span.ui-dynatree-selected a
{
	color: green;
	font-style: italic;
}

/*span.ui-dynatree-active a
{
	background-color: #3169C6 !important;
	color: white !important;
}*/

/******************************************************************************* 
 * Custom node classes (sample)
 */

input.hidden
{
        display: none;
}
