::selection {
	background:#ADD7AC; /* Safari */
	}
 
* {padding:0; margin:0;  }
h1, h2, h3, h4, h5, h6, p, span, label, input, select {padding:0; margin:0;}
header, aside, section, nav, footer, article,  { display: block; }
* { text-shadow: none !important; }
img { border: 0; }
body{background-color:#dde8c6; background-image:url(../images/topgreen.gif); background-repeat:repeat-x; font-family:Calibri; }


/*Login Code Start*/
.loginbox{width:497px; height:250px; margin:auto; margin-top:129px; background-image:url(../images/loginbg.jpg); background-repeat:no-repeat; background-position:bottom;}
.roundbox{width:497px; height:58px; float:left; background-image:url(../images/topbg.jpg); font-weight:normal; background-repeat:no-repeat; color:#08361b; font-size:16px; }
.grytxt{ color:#454242; text-decoration:underline; font-weight:normal; font-size:12px; }
.grytxt:hover{ text-decoration:none !important ; color:#0000000 !important ;}
.formbox{width:497px; height:180px; float:left;}

.inptbg {width:269px; height:26px; background-image:url(../images/inptbg.jpg); background-repeat:no-repeat; border:0px; outline:none; color:#929f74; padding-left:10px; line-height:20px;}
.forgttlink{ color:#606060; text-decoration:none; color:#606060; font-size:12px; }
.forgttlink:hover{text-decoration: underline;}
.btnsubmit{ background-image:url(../images/btnsubmit.jpg); background-repeat:no-repeat; width:78px; height:26px; border:0px; outline:none; cursor:pointer; color:#fff; text-align:center;}
.btnsubmitLink{display:block; text-decoration:none; line-height:26px; font-size:13px; font-family:Arial; background-image:url(../images/btnsubmit.jpg); background-repeat:no-repeat; width:78px; height:26px; border:0px; outline:none; cursor:pointer; color:#fff; text-align:center;}
/*Login Code End*/



/*Header Start*/
.headerbox{width:100%; height:131px; float:left;}
.logobox{width:100%; height:80px; float:left;}
.nav{ width:100%; height:41px; background-image:url(../images/menubg.jpg); background-repeat:repeat-x; float:left;}
#nav  ul, li { margin: 0; padding: 0;}
#blob {border-right: 1px solid #033a1a; border-left: 1px solid #033a1a; border-top: 1px solid #033a1a; position: absolute; z-index: 1; top: 10; background-image:url(../images/bubblebg.png); background-repeat:repeat-x; border-radius: 4px; -moz-box-shadow: 2px 3px 10px #033a1a; -webkit-box-shadow: 2px 3px 10px #033a1a;}
#nav {position: relative; float: left; height:41px; line-height:15px; margin-left:25px;  }
#nav li {float: left; list-style: none;}
#nav li a { color: #e3e3e3; z-index: 2; position: relative; cursor: pointer; float: left; font-size: 14px; text-decoration: none; text-transform:uppercase;  padding:10px 20px 0 20px;  }
 

/*Header End*/


/*Middle Box Start*/
.leftnavi ul li .active{ background-color:#000000; display:block; color:#ffffff;}
.middleboxcontainer{ width:100%; height:auto; float:left;}
.middlebox{ width:100%; height:auto;  background-color:#FFFFFF; float:left;}
.leftnavi{ width:188px; height:549px; float:left; background-color:#dde8c6; margin-left:2px; margin-top:2px; margin-bottom:2px;}
.leftnavi h1{ background-image:url(../images/leftnavihead.png); background-repeat:repeat-x; line-height:29px; font-size:16px; color:#ffffff; font-weight:normal; padding-left:11px;}
.leftnavi ul{ padding:0; margin:0; }
.leftnavi ul li{ list-style:none;} 
.leftnavi ul li a{ color:#0a0a0a; font-size:12px; line-height:26px; display:block; text-decoration:none; font-weight:normal; padding-left:12px;}
.leftnavi ul li a:hover{ background-color:#494c41; display:block; color:#ffffff;  }


.rightbox{width:1135px; height:auto; float:left; background-image:url(../images/navishadw.png); background-repeat:no-repeat; padding-left:20px; padding-top:2px; }
.rightbox h2{ color:#6c6c6c; text-decoration:none; font-weight:normal; font-size:27px; line-height:40px; }
.rightbox h3{ color:#115e32;   text-decoration:none; font-weight:bold; font-size:18px; line-height:22px; }
.rightbox p{ color:#373737; line-height:26px; font-size:14px; color:#373737; }
.searchboxcontainer{width:1135px; min-height:5px; float:left;overflow:hidden; padding-bottom:10px;}
.searchbar{ width:969px; height:50px; float:left; box-shadow: inset 0px -1px 19px 1px #c7d3ae;
-webkit-box-shadow: inset 0px -1px 19px 1px #c7d3ae;
-moz-box-shadow: inset 0px -1px 19px 1px #c7d3ae;
-o-box-shadow: inset 0px -1px 19px 1px #c7d3ae; border-radius:5px; margin-top:10px;  }
.searchbar h2{ font-size:17px; padding-left:10px; padding-top:3px; font-weight:bold; background-color:#dde8c6; width:125px; border-radius:5px; height:47px; color:#000; float:left;}
.searchbar h3 a{ font-size:12px; padding-left:10px; padding-top:10px; font-weight:bold;   height:47px; color:#000; float:left;}
.searchbar h3 a:hover{ text-decoration:none;}
.searchbar input{ width:162px; height:25px; border-radius:5px; border:1px solid #b5c790; outline:none; margin-top:10px; padding-left:5px; float:left;}
.searchbar input:hover{box-shadow: 1px 1px 5px 3px #C7F2BA;
-webkit-box-shadow: 1px 1px 5px 3px #C7F2BA;
-moz-box-shadow: 1px 1px 5px 3px #C7F2BA;
-o-box-shadow: 1px 1px 5px 3px #C7F2BA;}
.searchbar label{ font-size:15px; color:#474444; text-decoration:none; font-weight:normal; float:left; width:auto; padding-right:3px; line-height:47px; padding-left:15px;}
.btnsearch{ width:100px !important ; height:27px !important ;padding-top:2px;padding-bottom:2px;padding-right:2px; cursor:pointer; margin-left:20px; background-color:#6d8240; color:#ffffff; }
.btnsearchBar{ width:90px !important ; height:27px !important ;padding-top:2px;padding-bottom:2px;padding-right:2px; cursor:pointer; margin-left:20px; background-color:#6d8240; color:#ffffff; }
.selectdeco{ padding-top:3px;padding-bottom:3px;padding-right:3px; width:180px; height:25px; border-radius:5px; border:1px solid #b5c790; outline:none; margin-top:10px; padding-left:5px; float:left;}
.selectdeco:hover{box-shadow: 1px 1px 5px 3px #C7F2BA;
-webkit-box-shadow: 1px 1px 5px 3px #C7F2BA;
-moz-box-shadow: 1px 1px 5px 3px #C7F2BA;
-o-box-shadow: 1px 1px 5px 3px #C7F2BA;}

.btnsearch2{ width:100px !important ; border-radius:5px; border:0px; outline:none; height:24px !important ; cursor:pointer;   background-color:#6d8240; color:#ffffff }
.btnsearch2:hover{ background-color:#666666;}


.btnaddclient{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddclient h3 a{ background-image:url(../images/btnaddclient.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddclient h3 a:hover{ background-image:url(../images/btnaddclienth.jpg); background-repeat:no-repeat;  display:block;} 


.btnaddlaungauge{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddlaungauge h3 a{ background-image:url(../images/btnaddlauguage.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddlaungauge h3 a:hover{ background-image:url(../images/btnaddlauguagehover.jpg); background-repeat:no-repeat;  display:block;} 


.btnaaddbid{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaaddbid h3 a{ background-image:url(../images/btnaddbid.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaaddbid h3 a:hover{ background-image:url(../images/btnaddbidhover.jpg); background-repeat:no-repeat;  display:block;} 

.btnaaddproposal{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaaddproposal h3 a{ background-image:url(../images/btn-create-proposal.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaaddproposal h3 a:hover{ background-image:url(../images/btn-create-proposal-hover.png); background-repeat:no-repeat;  display:block;}

.btnaddvendor{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddvendor h3 a{ background-image:url(../images/btnadd-vendor.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddvendor h3 a:hover{ background-image:url(../images/btnadd-vendor-hover.png); background-repeat:no-repeat;  display:block;}

.btnaddsurveycat{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddsurveycat h3 a{ background-image:url(../images/add-survey-cate.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddsurveycat h3 a:hover{ background-image:url(../images/add-survey-cate-hover.png); background-repeat:no-repeat;  display:block;}

.btnaddsurveysubcat{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddsurveysubcat h3 a{ background-image:url(../images/add-subcategory.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddsurveysubcat h3 a:hover{ background-image:url(../images/add-subcategory-hover.png); background-repeat:no-repeat;  display:block;}

.btnadduser{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnadduser h3 a{ background-image:url(../images/btn-add-user.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnadduser h3 a:hover{ background-image:url(../images/btn-add-user-hover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddproject{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddproject h3 a{ background-image:url(../images/btn-add-project.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddproject h3 a:hover{ background-image:url(../images/btn-add-project-hover.png); background-repeat:no-repeat;  display:block;}

.btnaddsurvey{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddsurvey h3 a{ background-image:url(../images/btn-add-survey.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddsurvey h3 a:hover{ background-image:url(../images/btn-add-survey-hover.png); background-repeat:no-repeat;  display:block;}

.btnaddprojectsummary{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddprojectsummary h3 a{ background-image:url(../images/btn-project-summary.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddprojectsummary h3 a:hover{ background-image:url(../images/btn-project-summary-hover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddinvoicereceivable{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddinvoicereceivable h3 a{ background-image:url(../images/btn-invoice-receivable.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddinvoicereceivable h3 a:hover{ background-image:url(../images/btn-invoice-receivable-hover.jpg); background-repeat:no-repeat;  display:block;}

.searchresult span{ color:#ff0000; font-size:14px;  }
.searchresult{width:1135px; height:auto; float:left;   }
.searchresult h2{ font-size:17px; background-color:#494c41; color:#ffffff; padding-left:10px; }


.searchresult2 span{ color:#FF0000; }
.searchresult2{width:1135px; height:auto; float:left;   }
.searchresult2 h2{ font-size:17px; background-color:#494c41; color:#ffffff; padding-left:10px; }
.textdeco{ font-size:13px; color:#003300; text-decoration:none; font-weight:normal; padding-left:5px;   border-top:1px solid #000000;  border-right:1px solid #000000;  border-left:1px solid #000000; line-height:23px;   }

.btnaddcountry{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddcountry h3 a{ background-image:url(../images/btnaddcoutry.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddcountry h3 a:hover{ background-image:url(../images/btnaddcoutryhover.jpg); background-repeat:no-repeat;  display:block;} 


.btnaddculture{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddculture h3 a{ background-image:url(../images/btnaddculture.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddculture h3 a:hover{ background-image:url(../images/btnaddculturehover.jpg); background-repeat:no-repeat;  display:block;}


.btnaddregion{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddregion h3 a{ background-image:url(../images/btnaddregion.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddregion h3 a:hover{ background-image:url(../images/btnaddregionhover.jpg); background-repeat:no-repeat;  display:block;}


.btnaddcompany{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddcompany h3 a{ background-image:url(../images/btnaddcompany.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddcompany h3 a:hover{ background-image:url(../images/btnaddcompanyhover.jpg); background-repeat:no-repeat;  display:block;}


.btnaddcategory{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddcategory h3 a{ background-image:url(../images/btnaddcategory.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddcategory h3 a:hover{ background-image:url(../images/btnaddcategoryhover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddregistration{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddregistration h3 a{ background-image:url(../images/btnaddquestionReg.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddregistration h3 a:hover{ background-image:url(../images/btnaddquestionReg-grey.png); background-repeat:no-repeat;  display:block;}

.btnaddQuetionType{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddQuetionType h3 a{ background-image:url(../images/btnaddquestiontype.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddQuetionType h3 a:hover{ background-image:url(../images/btnaddquestiontypehover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddGlobalQuetion{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddGlobalQuetion h3 a{ background-image:url(../images/btnglobaladdquestion.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddGlobalQuetion h3 a:hover{ background-image:url(../images/btnaddquestion-hover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddCultureQuestion{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddCultureQuestion h3 a{ background-image:url(../images/add-culture-question.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddCultureQuestion h3 a:hover{ background-image:url(../images/add-culture-question-hover.jpg); background-repeat:no-repeat;  display:block;}

.btncopyCultureQuestion{ width:130px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btncopyCultureQuestion h3 a{ background-image:url(../images/copy-culture.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btncopyCultureQuestion h3 a:hover{ background-image:url(../images/copy-culture-hover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddpanel{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddpanel h3 a{ background-image:url(../images/btnaddpanel.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddpanel h3 a:hover{ background-image:url(../images/btnaddpanelhover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddBankingDetail{ width:159px; height:50px; float:left; padding-top:3px; padding-right:5px;}
.btnaddBankingDetail h3 a{ background-image:url(../images/btn-add-bankdetial.jpg); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddBankingDetail h3 a:hover{ background-image:url(../images/btn-add-bankdetial-hover.jpg); background-repeat:no-repeat;  display:block;}

.btnaddInvoicePayable{ width:159px; height:50px; float:left; padding-top:10px; padding-right:5px;}
.btnaddInvoicePayable h3 a{ background-image:url(../images/btn-add-voice.png); background-repeat:no-repeat; width:159px; height:50px; display:block; }
.btnaddInvoicePayable h3 a:hover{ background-image:url(../images/btn-add-voice-hover.png); background-repeat:no-repeat;  display:block;}

.whitetxt{ font-size:14px; text-decoration:none; font-weight:normal; color:#ffffff;}
.blacktxt{ font-size:14px; text-decoration:none; font-weight:normal; color:#000000; background-color:#d2dcbf; border-bottom:1px solid #ffffff; display:block; width:1125px; height:37px; line-height:37px; padding-left:10px;}
.blacktxt:hover{ background-color:#d9e1cb; display:block;}

.blacktxt2{ font-size:14px; text-decoration:none; font-weight:normal; color:#000000; background-color:#c7d3ae; border-bottom:1px solid #ffffff; display:block; width:1125px; height:37px; line-height:37px; padding-left:10px;}
.blacktxt2:hover{ background-color:#d2dbbe; display:block;}
/*Middle Box End*/

.footer{ width:1365px; height:15px; float:left; background-color:#FFFFFF; color:#52642c; font-size:10px; text-align:right; padding-right:20px;}


.inptform  {width:232px; height:22px; padding-top:4px; padding-bottom:4px; padding-right:4px !important;  border:1px solid #91ad59;  margin-top:5px; margin-bottom:5px; padding-left:5px; float:left; }
.inptform:hover{border:1px solid #000;}
.inptformmesg{width:400px; height:80px;   border:1px solid #b5c790; margin-top:10px; padding-left:5px; float:left; resize:none; padding-top:10px;  }
.inptformmesg:hover{border:1px solid #000;}
.btn-remove{cursor: pointer;}

.inptformSelect {width:236px; height:30px !important ; padding-top:4px; padding-bottom:4px; padding-right:4px !important;  border:1px solid #91ad59; margin-top:5px; margin-bottom:5px; padding-left:5px; float:left; }
.inptformSelect:hover{border:1px solid #000;}
.inptformdis{width:80px; height:26px; color:#000; background-color:#9fb27a;  border:1px solid #849a59; margin-top:5px; margin-bottom:5px; padding-left:5px; float:left; font-size:12px; font-weight: bold; }



.inptform2{width:80px; height:30px;   border:1px solid #91ad59; outline:none; margin-top:5px; margin-bottom:5px; padding-left:5px; float:left; }
.inptform2:hover{border:1px solid #000;}
.inptformmesg2{width:800px; height:200px;   border:1px solid #b5c790; outline:none; margin-top:10px; padding-left:5px; float:left; resize:none; padding-top:10px;  }
.inptformmesg2:hover{border:1px solid #000;}
.inptformmesgt{width:800px; height:160px;   border:1px solid #b5c790; margin-top:10px; padding-left:5px; float:left; resize:none; padding-top:10px;  }
.inptformmesgt:hover{border:1px solid #000;}

.inptformvendorurl  {width:464px; height:22px; padding-top:4px; padding-bottom:4px; padding-right:4px !important;  border:1px solid #91ad59;  margin-top:5px; margin-bottom:5px; padding-left:5px; float:left; }
.inptformvendorurl:hover{border:1px solid #000;}


.pagelistinggrn{font-family:Arial; font-size:12px; text-decoration:none; font-weight:bold; padding-left:5px;}
.listingitem{height:31px; background-color:#c7d3ae; border-bottom:1px solid #fff; line-height:31px; color:#000; font-family:Arial; padding-left:5px; font-size:12px;}
.listingitem img{ padding-top:5px;}
.listingitem2{height:31px; background-color:#d2dcbf; border-bottom:1px solid #fff; line-height:31px; color:#000; font-family:Arial; padding-left:5px; font-size:12px;}
.listingitem2 img{ padding-top:5px;}
.pageupdatebg{background: rgb(243,244,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,244,238,1) 0%, rgba(157,174,122,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,244,238,1)), color-stop(100%,rgba(157,174,122,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,244,238,1) 0%,rgba(157,174,122,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,244,238,1) 0%,rgba(157,174,122,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,244,238,1) 0%,rgba(157,174,122,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(243,244,238,1) 0%,rgba(157,174,122,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4ee', endColorstr='#9dae7a',GradientType=0 ); border:1px solid #a4b484;  border-radius:5px;  /* IE6-9 */}
.forminpt{ border:1px solid #cccccc; width:348px; height:30px;   outline:none; border-radius: 6px 6px 6px 6px; padding-left:12px; font-size:18px;  }
.greenlink{font-size:14px; color:#536828; text-decoration:none; font-weight:normal;}
.greenlink:hover{text-decoration:underline;}
.amboseff{  }

.btnsubmit2{ display:block; border-radius:6px; background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top, #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* IE10+ */
background: linear-gradient(to bottom, #627d4d 0%,#1f3b08 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */ border:0px; outline:none; cursor:pointer;  width:80px; height:30px; line-height:30px; text-align:center; color:#fff; text-decoration:none; font-weight:normal;}

.btnsubmit2:hover{background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top, #627d4d 0%, #082d06 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#082d06)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #627d4d 0%,#082d06 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #627d4d 0%,#082d06 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #627d4d 0%,#082d06 100%); /* IE10+ */
background: linear-gradient(to bottom, #627d4d 0%,#082d06 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#082d06',GradientType=0 ); /* IE6-9 */}

/* Paging bar starts*/
.paginglink td{background-color: #ffffff}
.paginglink td a{font-size:13px; color:#778d4c; padding-top: 8px;}
.paginglink td a:hover{text-decoration:none;}
.paginglink td span{font-size:13px; color:#0b4121;}
/* Paging bar ends*/

/* Checkbox tree style starts*/
div.ui-dynatree-container{background-color: inherit; border: 0px; font-family: Calibri;}
/* Checkbox tree style starts*/


/*Vendor instruction starts*/
.vendorinstruction{ padding-top:7px; font-size:14px;  height:200px; overflow:auto;
display:block; background-color:#eaf0df; border:2px solid #879a61; border-bottom-left-radius:15px;
border-top-right-radius:15px; padding-left:7px; padding-right:14px; margin-left:4%; padding-bottom:10px;}
/*Vendor instruction ends*/


/*Download PDF hyperlink starts*/

.btndownloadpdf {display:block; background-image:url(../images/btndownload-pdf.png); text-decoration:none;
	line-height:26px; font-size:13px; font-family:Arial;  background-repeat:no-repeat; width:100px; height:26px; 
	border:0px; outline:none; cursor:pointer; color:#000; text-align:center;}
/*Download PDF hyperlink ends*/

.radiogroup span{color: #000; margin-right:5px; font-size: 16px; font-family: Calibri;}
.checkboxgroup span{color: #000; margin-right:10px; font-size: 16px; font-family: Calibri;}
.checkboxform{margin-top: 5px; margin-right: 5px;}

/*Vendor type multi select div starts*/
.vtypediv{
  		max-height: 77px; overflow:auto; width: 242px; overflow-x: hidden; margin-top: 5px; margin-bottom: 5px;}
/*Vendor type multi select div ends*/


/*Finance dashboard starts*/

.table-striped > thead > tr> th, make- {
	background-color: #778d4c;
	color: #fff;
	font-weight: bold;
	text-align: left;
	padding: 0 3px;
}
.table-striped > tbody > tr > td:nth-child(1), .table-striped > tbody > tr >td:nth-child(3) {
	background: #e9ece4;
	padding: 0 5px;
}
.table-striped > tbody > tr > td.three-col-gap,.table-striped > tbody > tr > td.three-col-nxt{
color:#99FF33;
}
.table-striped > tbody > tr >td:nth-child(3) {
}
.table-striped > tbody > tr> td:nth-child(2), .table-striped > tbody > tr >td:nth-child(4) {
	background: #c7d3ae;
	padding: 0 5px;
}
.table-striped > tbody > tr> td.solid_border{
border-right:10px solid #004400;
}
.make- {
	background-color: #778d4c!important;
	color: #fff;
	font-weight: bold;
}
.fin-bid {
	margin: 20px 0 10px 0;
	overflow:hidden;
}
.fin-dash{
margin: 10px 0;
border: 1px solid #ccc;
box-shadow: inset 0px -1px 19px 1px #c7d3ae;
-webkit-box-shadow: inset 0px -1px 19px 1px #c7d3ae;
-moz-box-shadow: inset 0px -1px 19px 1px #c7d3ae;
-o-box-shadow: inset 0px -1px 19px 1px #c7d3ae;
padding:10px;
border-radius: 10px;
width: 1045px;
}
.fin-dash label{
float:left;
}

.fin-bid div {
	float: left;
	width: 208px;
	display: inline-block;
}
.fin-bid label {
	padding-right: 5px;
}
.fin-bid input[type], .fin-bid select,.fin-dash input{
	border: 1px solid #B5C790;
	border-radius:5px;
	height: 23px;
	outline: medium none;
	padding-left: 5px;
	width: 110px;
}
.fin-bid .search-fin{
margin-left:25px;
}
.fin-table-dash > thead > tr> th,.fin-table-dash > tbody > tr > td{
padding:0 10px !important;
}
.white_height{
background:#fff;
height:10px;
}
.uppercase{
text-transform:uppercase;
}
/*Finance dashboard ends*/









