/** Simple modifications needed for DropDownCheckList to take advantage of ThemeRoller settings */
.ui-dropdownchecklist .ui-widget-content
, .ui-dropdownchecklist .ui-widget-header {
	border: thin;
	border-color: blue;
}
.ui-dropdownchecklist-indent {
	padding-left: 7px;
}
/* Font size of 0 on the -selector and an explicit medium on -text required to eliminate 
   descender problems within the containers and still have a valid size for the text */
.ui-dropdownchecklist-selector-wrapper
, .ui-widget.ui-dropdownchecklist-selector-wrapper {
	vertical-align: middle;
	font-size: 0px;
	
}
.ui-dropdownchecklist-selector {
	padding: 1px 2px 2px 2px;
	font-size: 0px;
	
	
}
.ui-dropdownchecklist-text {
	font-size: 12px; padding-left:7px; background-image: url(../images/dropdown.gif); background-repeat:no-repeat; background-position: 218px 7px; }

 

.ui-dropdownchecklist-item
, .ui-dropdownchecklist-item input {
    vertical-align: middle;
}
.ui-dropdownchecklist-group {
	padding: 1px 2px 2px 2px;
}
